<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %>"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %>"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="campground[price]" value="<%= campground.price %>"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" name="campground[description]" value="<%= campground.description %>"></textarea>
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <button >Edit Campground</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </footer>
</body>
</html>